body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.c2paragraph {
    font-size: 30px;
    width: 1050px;
    height: 80px;
    /* border: 2px solid green; */
    margin-top: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.c2paragraph :hover {
    color: blue;
}


.items_name h2 {
    font-size: 15px;
    margin: 0px;
    font-weight: 700;
}

.commentimg {
    display: flex;
    width: 100px;
    height: 25px;
}

.commentimg:hover {
    display: flex;
    color: blue;
    width: 100px;
    height: 25px;
}

.cat2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.cat2__container {
    box-shadow: 0px 0px 7px blue;
    border-radius: 15px;
    padding: 10px;
    width: 250px;
    height: 320px;
    display: flex;
    flex-direction: column !important;
    background: white;
    margin: 20px;
    height: 320px;
    width: 250px !important;
}


.cat2__card-top {
    width: 100%;
    height: 40%;

}

.cat2__card img {
    object-fit: contain !important;
    height: 100%;
    width: 100%;
}

.cat2__card img:hover {
    transform: scale(1.1);
    object-fit: contain !important;
    height: 90%;
    margin-top: 5px;
    width: 100%;
}



.Buy button {
    margin-top: 20px;
    border-left: 1px ridge black;
    border-right: 1px ridge blue;
    border-bottom: 1px ridge blue;
    border-top: 1px ridge black;
    border-radius: 5px;
    width: 30%;
    height: 20px;
    cursor: pointer;
    margin-left: 100px;
}

.Buy button:hover {
    border-left: 1px ridge blue;
    border-right: 1px ridge black;
    border-bottom: 1px ridge black;
    border-top: 1px ridge blue;
    border-radius: 5px;
    width: 30%;
    height: 20px;
    transform: scale(1.01);
    transition: all 0.1s linear;
}

.kond {
    margin-left: 50px;
    font-size: 15px;
}

.kond:hover {
    color: blue;
    font-size: 15px;
}

.month {
    margin-left: 50px;
    font-size: 15px;
}

.month:hover {
    color: blue;
    font-size: 15px;
}


.price {
    margin-left: 50px;
    font-size: 15px;
    text-decoration: line-through red;
}

.name {
    margin-left: 50px;
    font-size: 15px;
}

.name:hover {
    color: blue;
    font-size: 15px;
}

.commentimg:hover{
    color: blue;
}